Angular8/Angular8Project1/.editorconfig
Angular8/Angular8Project1/.gitignore
Angular8/Angular8Project1/angular.json
Angular8/Angular8Project1/browserslist
Angular8/Angular8Project1/karma.conf.js
Angular8/Angular8Project1/package-lock.json
Angular8/Angular8Project1/package.json
Angular8/Angular8Project1/README.md
Angular8/Angular8Project1/tsconfig.app.json
Angular8/Angular8Project1/tsconfig.json
Angular8/Angular8Project1/tsconfig.spec.json
Angular8/Angular8Project1/tslint.json
Angular8/Angular8Project1/e2e/protractor.conf.js
Angular8/Angular8Project1/e2e/tsconfig.json
Angular8/Angular8Project1/e2e/src/app.e2e-spec.ts
Angular8/Angular8Project1/e2e/src/app.po.ts
Angular8/Angular8Project1/src/app.7z
Angular8/Angular8Project1/src/favicon.ico
Angular8/Angular8Project1/src/index.html
Angular8/Angular8Project1/src/main.ts
Angular8/Angular8Project1/src/polyfills.ts
Angular8/Angular8Project1/src/styles.css
Angular8/Angular8Project1/src/test.ts
Angular8/Angular8Project1/src/app/retired.pipe.ts
Angular8/Angular8Project1/src/assets/.gitkeep
Angular8/Angular8Project1/src/environments/environment.prod.ts
Angular8/Angular8Project1/src/environments/environment.ts
Angular8/Angular8Project1/src/old/app-routing.module.ts
Angular8/Angular8Project1/src/old/app.component.css
Angular8/Angular8Project1/src/old/app.component.html
Angular8/Angular8Project1/src/old/app.component.spec.ts
Angular8/Angular8Project1/src/old/app.component.ts
Angular8/Angular8Project1/src/old/app.module.ts
